#calendar table,
#calendar table td,
#calendar table tr,
#calendar table table,
#calendar table table td,
#calendar table table tr,
#lblToday table,
#lblToday table tr,
#lblToday table tr td,
#selectMonth table,
#selectMonth table tr,
#selectMonth table tr td,
#selectYear table,
#selectYear table tr,
#selectYear table tr td {
	padding:0px;
	margin:0px;
	width:auto;
	height:auto;
	border-width:0px;
}

.BlueStyle-table-style {
	FONT-SIZE: 11px; BORDER-LEFT-COLOR: #a0a0a0; BORDER-BOTTOM-COLOR: #a0a0a0; WIDTH: auto; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #a0a0a0; FONT-FAMILY: arial; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-COLOR: #a0a0a0; BORDER-BOTTOM-STYLE: solid
}
.BlueStyle-div-style {
	Z-INDEX: 999; VISIBILITY: hidden; POSITION: absolute
}
.BlueStyle-title-style {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: arial
}
.BlueStyle-title-background-style {
	BACKGROUND-COLOR: #0000aa
}
.BlueStyle-title-control-normal-style {
	BORDER-RIGHT: #3366ff 1px solid; BORDER-TOP: #3366ff 1px solid; BORDER-LEFT: #3366ff 1px solid; CURSOR: pointer; BORDER-BOTTOM: #3366ff 1px solid
}
.BlueStyle-title-control-select-style {
	BORDER-RIGHT: #88aaff 1px solid; BORDER-TOP: #88aaff 1px solid; BORDER-LEFT: #88aaff 1px solid; CURSOR: pointer; BORDER-BOTTOM: #88aaff 1px solid
}
.BlueStyle-dropdown-style {
	BORDER-RIGHT: #a0a0a0 1px solid; BORDER-TOP: #a0a0a0 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #a0a0a0 1px solid; CURSOR: pointer; BORDER-BOTTOM: #a0a0a0 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffdd
}
.BlueStyle-dropdown-select-style {
	BACKGROUND-COLOR: #ffcc99
}
.BlueStyle-dropdown-normal-style {

}
.BlueStyle-body-style {
	FONT-SIZE: 10px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
.BlueStyle-current-day-style {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: #ffff33; TEXT-DECORATION: none
}
.BlueStyle-end-of-week-sun-style {
	COLOR: red; TEXT-DECORATION: none
}
.BlueStyle-end-of-week-sat-style {
	COLOR: blue; TEXT-DECORATION: none
}
.BlueStyle-normal-day-style {
	COLOR: black; TEXT-DECORATION: none
}
.BlueStyle-would-be-selected-day-style {
	BACKGROUND-COLOR: #eeeeee
}
.BlueStyle-selected-day-style {
	BORDER-RIGHT: #a0a0a0 1px solid; BORDER-TOP: #a0a0a0 1px solid; BORDER-LEFT: #a0a0a0 1px solid; BORDER-BOTTOM: #a0a0a0 1px solid
}
.BlueStyle-holiday-style {
	BACKGROUND-COLOR: #ffdddd
}
.BlueStyle-today-style {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.BlueStyle-today-lbl-style {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.BlueStyle-weeknumber-div-style {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #d0d0d0
}
