.com-root-panel {
	MARGIN-LEFT: auto; WIDTH: 800px; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
.com-body-panel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffee
}
.com-header-info-panel {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; WIDTH: 786px; PADDING-TOP: 6px
}
.com-header-userid-panel {
	FLOAT: left; TEXT-ALIGN: left
}
.com-hedaer-date-panel {
	TEXT-ALIGN: right
}
.com-header-title-panel {
	BORDER-RIGHT: 2px ridge; PADDING-RIGHT: 4px; BORDER-TOP: 2px ridge; PADDING-LEFT: 4px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 4px; BORDER-LEFT: 2px ridge; WIDTH: 786px; PADDING-TOP: 4px; BORDER-BOTTOM: 2px ridge; HEIGHT: 30px; BACKGROUND-COLOR: #cceeff; TEXT-ALIGN: left
}
.com-header-title-text-panel {
	FLOAT: left; MARGIN: 6px; TEXT-ALIGN: left
}
.com-header-title-button-panel {
	TEXT-ALIGN: right
}
.com-header-screen-name-text {
	FONT-WEIGHT: bold
}
.com-logout-form P {
	MARGIN: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: medium; MARGIN: 0px
}
.com-footer-panel {
	BORDER-RIGHT: 2px ridge; BORDER-TOP: 2px ridge; MARGIN-TOP: 2px; BORDER-LEFT: 2px ridge; WIDTH: 794px; BORDER-BOTTOM: 2px ridge; HEIGHT: 20px; BACKGROUND-COLOR: #7799dd
}
.com-footer-logo-text {
	FONT-WEIGHT: bold; COLOR: white
}
.com-normal-button {
	WIDTH: 100px; HEIGHT: 30px
}
.com-long-button {
	WIDTH: 150px; HEIGHT: 30px
}
.com-visible-table {
	BORDER-RIGHT: 3px ridge; BORDER-TOP: 3px ridge; BORDER-LEFT: 3px ridge; BORDER-BOTTOM: 3px ridge; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.com-visible-table CAPTION {
	FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.com-visible-table TH {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #eeddff
}
.com-visible-table TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
.com-float-clear {
	CLEAR: both
}
.com-charge-td {
	FONT-WEIGHT: bold; TEXT-ALIGN: right
}
.com-error-message-panel {
	FONT-WEIGHT: bold; COLOR: red; TEXT-ALIGN: left
}
.com-error-message-panel P {
	MARGIN: 5px
}
#com-lodging-period-th {
	WIDTH: 170px
}
#com-lodging-period-td {
	TEXT-ALIGN: left
}
#com-charge-from-td {
	TEXT-ALIGN: left
}
#com-charge-to-td {
	TEXT-ALIGN: left
}
#com-room-type-td {
	TEXT-ALIGN: left
}
#com-smoking-type-td {
	TEXT-ALIGN: left
}
#com-room-count-td {
	TEXT-ALIGN: left
}
#com-meal-option-td {
	TEXT-ALIGN: left
}
#com-hotel-th {
	WIDTH: 50px
}
#com-hotel-code-th {
	WIDTH: 100px
}
#com-hotel-code-td {
	TEXT-ALIGN: left
}
#com-hotel-name-td {
	TEXT-ALIGN: left
}
#com-hotel-room-count-td {
	TEXT-ALIGN: left
}
#com-hotel-address-td {
	TEXT-ALIGN: left
}
#com-hotel-tel-number-td {
	TEXT-ALIGN: left
}
#com-customer-th {
	WIDTH: 50px
}
#com-customer-code-th {
	WIDTH: 100px
}
#com-customer-code-td {
	TEXT-ALIGN: left
}
#com-customer-name-td {
	TEXT-ALIGN: left
}
#com-customer-address-td {
	TEXT-ALIGN: left
}
TD.ItemLabel {
	TEXT-ALIGN: right
}
TD.ErrorItem {
	COLOR: red; TEXT-ALIGN: right
}
