﻿@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-weight: normal;
}

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #FFF;
	margin: 0; /* 複数の異なるブラウザの初期設定値に対応するため、body エレメントのマージンと余白を 0 にすることをお勧めします */
	padding: 0;
	text-align: center; /* これにより、IE 5* ブラウザではコンテナが中央揃えになります。そして、テキストは、#container セレクタの初期設定である左揃えに設定されます */
	color: #4D4D4D;
	font: 13px "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", Osaka, "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}

/* for IE6 or sooner */
* html body {
	font-size: 75%; /* nearly 12px */
	font-family: "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

a:link {
	color: #0062CF;
	text-decoration: underline;
}

a:visited {
	color: #0062CF;
	text-decoration: underline;
}

a:hover {
	/*color: #333333;*/
	background: #FF9900;
}

a:active {
	color: #CC1433;
}

strong {
	font-weight: bold;
}

.broad {
	width: 100%;
/*	border-top: 1px solid gray;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	border-left: 1px solid gray;
*/}

.broad80 {
	width: 80%;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

#editAction table,
/* 20110518 ktakenaka@PROSITE add start */
#editVirusCheck table,
#editSpyware table,
/* 20110518 ktakenaka@PROSITE add end */
#editIpsIds table {
	width:250px;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	/*margin:1em auto;*/
	margin: 15px 0 15px 40px;
	border-collapse:collapse;
}

table,
#accountLock table,
#customerPassChange table,
#customerList table,
#objectSchedules table,
#objectServices table,
/* 20130901 kkato@PROSITE del start */
/* #objectUrlFilters table, */ /* 20110609 ktakenaka@PROSITE add */
/* 20130901 kkato@PROSITE del end */
#editGroups table,
#editFilters table,
#objectApplicationfilters table,
#objectApplicationgroup table,
#objectAddress table,
#objectAddressGroup table,
#editSchedule table,
#blockReport table,
#blockPolicy table,
#blockRollback table,
#blockLog table {
	width:100%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
	margin: 0 0 15px 0;
	border-collapse:collapse;
}

/* 20130901 kkato@PROSITE add start */
#objectUrlFilters table
{
/*	width:100%;*/
	width:97%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
	margin: 0 0 15px 0;
	border-collapse:collapse;
}
/* 20130901 kkato@PROSITE add end */

#filterResult table {
	width:820px;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
	margin: 0 0 15px 0;
	border-collapse:collapse;
}

/* 20110518 ktakenaka@PROSITE add start */
#editVirusCheck table td,
#editSpyware table td,
/* 20110518 ktakenaka@PROSITE add start */
#editIpsIds table td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;
}
table td,
#accountLock table td,
#customerPassChange table td,
#customerList table td,
#objectSchedules table td,
#objectServices table td,
#objectUrlFilters table td, /* 20110609 ktakenaka@PROSITE add */
#editGroups table td,
#editFilters table td,
#objectApplicationfilters table td,
#objectApplicationgroup table td,
#objectAddress table td,
#objectAddressGroup table td,
#editSchedule table td,
#blockReport table td,
#blockPolicy table td,
#blockRollback table td,
#blockLog table td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:0.6em 0.6em;
	text-align:center;
}

#blockPolicy table td {
	padding: 0;
}


table tr.odd td,
#accountLock table tr.odd td,
#accountLock table tr.column1 td,
#customerPassChange table tr.odd td,
#customerPassChange table tr.column1 td,
#customerList table tr.odd td,
#customerList table tr.column1 td,
#objectSchedules table tr.odd td,
#objectSchedules table tr.column1 td,
#objectServices table tr.odd td,
#objectServices table tr.column1 td,
#editGroups table tr.odd td,
#editGroups table tr.column1 td,
#editFilters table tr.odd td,
#editFilters table tr.column1 td,
#objectApplicationfilters table tr.odd td,
#objectApplicationfilters table tr.odd column1,
#objectApplicationgroup table tr.odd td,
#objectApplicationgroup table tr.odd column1,
#objectAddress table tr.odd td,
#objectAddress table tr.odd column1,
#objectAddressGroup table tr.odd td,
#objectAddressGroup table tr.odd column1,
/* 20110609 ktakenaka@PROSITE add start */
#objectUrlFilters table tr.odd td,
#objectUrlFilters table tr.odd column1,
/* 20110609 ktakenaka@PROSITE add end */
#editSchedule table tr.odd td,
#editSchedule table tr.odd .column1,
#blockReport table tr.odd td,
#blockReport table tr.odd .column1,
#blockPolicy table tr.odd td,
#blockPolicy table tr.odd .column1,
#blockRollback table tr.odd td,
#blockRollback table tr.odd .column1,
#blockLog table tr.odd td,
#blockLog table tr.odd .column1 {
	background:#f4f9fe url(../img/bg_table.gif) no-repeat;
}

#objectApplicationgroup table,
#blockApplication table {
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin: 0 0 15px 0;
	/*margin:1em auto;*/
	border-collapse:collapse;
	width: 820px;
}

#objectApplicationgroup table td,
#blockApplication table td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.5em .6em;
	text-align:center;
}

#objectApplicationgroup table tr.odd td,
#objectApplicationgroup table tr.odd .column1,
#blockApplication table tr.odd td,
#blockApplication table tr.odd .column1 {
	background:#f4f9fe url(../img/bg_table.gif) no-repeat;
}

.column1 {
	background:#f9fcfe;
}

thead th {
	background:#C5DBFF;
	text-align:center;
	line-height: 2em;
	font-weight: bold;
	/*color:#66a3d3;*/
}


li {
	list-style: none;
	margin: 0 40px 8px 0;
	padding: 0;
/*	display: inline; */
}

img {
	margin: 0;
	padding: 0;
	border: 0;
}

/*form {
	margin: 10px 0;
}
*/

#blockLog form {
	margin: 10px 0;
}

#container {
	background: #FFF url(../img/bg_sidebar_kddi.jpg) repeat-y left top;
	margin: 0 auto; /* 自動マージン（幅と連動）により、ページが中央揃えになります */
	border: 0px solid #000000;
	text-align: left;
}

#header {
	background: #DDDDDD url(../img/bg_header.jpg) repeat-x 0px 0px;
	padding: 0 10px 0 20px;  /* この余白は、その下に表示される div のエレメントの左揃えと一致します。#header でテキストの代わりにイメージが使用される場合は、必要に応じて、余白を削除してください。 */
	height: 85px;
}
#header h1 {
	margin: 0; /* #header div の最後のエレメントのマージンを 0 に設定することにより、マージンの相殺（div 間の原因不明のスペース）が回避されます。div の周囲に境界線が適用されている場合は、境界線によってマージンの相殺が回避されるため、この操作は不要です */
	padding: 10px 0; /* マージンの代わりに余白を使用して、エレメントを div の端に接触しない位置に維持することができます */
}
#content {
	/*padding: 0 20px;*/ /* 余白は div ボックスの内側のスペース、マージンは div ボックスの外側のスペースです */
	/*margin-left: 210px;*/
	/*height: 99%;*/
	/*padding: 10px 0 0 10px;*/

	width: 100%;
	float: left;
	z-index: 5;
	position: relative;
}

#content #home,
#content #blockPolicy,
#content #commit,
#content #blockRollback,
#content #passwordChange,
#content #editName,
#content #editSourcezone,
#content #editDstzone,
#content #editSrcaddress,
#content #editDstaddress,
#content #blockApplication,
#content #editService,
#content #editIpsIds,
/* 20110518 ktakenaka@PROSITE add start */
#content #editUrlFilter,
#content #editVirusCheck,
#content #editSpyware,
/* 20110518 ktakenaka@PROSITE add end*/
#content #editAction,
#content #editSchedule,
#content #objectAddress,
#content #objectAddressGroup,
#content #objectApplicationgroup,
#content #objectApplicationfilters,
#content #objectSchedules,
#content #objectServices,
#content #objectUrlFilters, /* 20110609 ktakenaka@PROSITE add */
#content #blockLog,
#content #blockReport,
#content #blockCPassChange,
#content #top,
#content #accountLock,
#content #customerList,
#content #editGroups,
#content #editFilters,
#content #blockOshirase,
#content #blockKPassChange,
#content #blockCAdddel,
#content #addPolicy,
#content #delPolicy {
	margin-left: 210px;
	padding: 10px;
}


#footer {
	background:#FFFFFF left bottom;
	clear: both;
	height: 0px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
#footer p {
	margin: 0; /* フッターの最初のエレメントのマージンを 0 に設定することにより、マージンの相殺（div 間のスペース）が回避されます */
	padding: 10px 0; /* このエレメントの余白により、マージンの相殺を発生させることなく、マージンの効果とまったく同じように、スペースが設定されます */
}


#container #content dl#edit dd {
	margin-left: 0px;
}

#container #content dl#edit dt {
	display: block;
	width: 200px;
	float: left;
}

#useOrUnuse,
#anyOrSelect {
	margin:0 30px 0 30px;
	padding: 10px 0px 10px 20px;
	border-bottom: 0px solid #666666;
	border-top: 0px solid #CCC;
	border-right: 0px solid #666666;
	border-left: 0px solid #CCC;
/*	background: #CCCCCC;
*/}

#useOrUnuse li,
#anyOrSelect li {
	margin: 0 20px 0 0;
	display: inline;
}

#container #content ul#radio1,
#container #content ul#button {
	width: 90%;
	margin: 20px 0 0 40px;
	clear: both;
	/*	background: green;
*/	padding: 10px 0;
}

#container #content #radio1 li,
#container #content #button li {
	display: inline;
	margin: 0 40px 0 0;
}

#container #header h1 {
	text-indent: -9999px;
}

#container #header h2 {
	text-indent: -9999px;
}

#container #content #pankuzu {
	margin: 0;
}

#container #content h3 {
	font-size: 140%;
	font-weight: bold;
	color: #333333;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#container #content .pages {
	text-align: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

dl#customerPasspwordchange {
	float: left;
	width: 90%;
	padding: 20px;
}

dl#customerPasspwordchange dt {
	float: left;
	clear: both;
	width: 200px;
	margin-right: 8px;
	padding: 2px 0 2px 15px;
	background: url(../img/bg_table.gif) repeat-x left bottom;
	margin-bottom: 8px;
	border-bottom: 2px solid #e5eff8;
	border-right: 2px solid #e5eff8;
	border-top: 2px solid #F4F6F8;
	border-left: 2px solid #F4F6F8;
}

dl#customerPasspwordchange dd {
	float: left;
	width: 340px;
	padding: 2px 0 2px 0;
	border: 0px solid #ccc;
	margin-bottom: 12px;
}

/* 20130901 kkato@PROSITE add start */
#passwordChange dl,
/* 20130901 kkato@PROSITE add end */
#blockKPassChange dl,
#kddiPassChange dl {
	float: left;
	width: 600px;
	padding: 20px 20px 20px 40px;
	border: 0px solid #F2F2F2;
	margin: 0 0 0 0;
}

/* 20130901 kkato@PROSITE add start */
#passwordChange dt,
/* 20130901 kkato@PROSITE add end */
#blockKPassChange dt,
#kddiPassChange dt {
	float: left;
	clear: both;
	width: 200px;
	margin-right: 8px;
	padding: 2px 0 2px 15px;
	background: url(../img/bg_table.gif) repeat-x left bottom;
	margin-bottom: 8px;
	border-bottom: 2px solid #e5eff8;
	border-right: 2px solid #e5eff8;
	border-top: 2px solid #F4F6F8;
	border-left: 2px solid #F4F6F8;
}

/* 20130901 kkato@PROSITE add start */
#passwordChange dd,
/* 20130901 kkato@PROSITE add end */
#blockKPassChange dd,
#kddiPassChange dd {
	float: left;
	width: 340px;
	padding: 2px 0 2px 0;
	border: 0px solid #ccc;
	margin-bottom: 12px;
}


#objectServices dl,
#objectSchedules dl,
#objectAddressGroup dl,
#objectAddress dl,
#objectUrlFilters dl, /* 20110609 ktakenaka@PROSITE add */
#addPolicy dl {
	width: 800px;
	padding: 15px;
	margin: 0 0 0 20px;
	border: 0px solid red;
}

#objectServices dl dt,
#objectSchedules dl dt,
#objectUrlFilters dl dt, /* 20110609 ktakenaka@PROSITE add */
#objectAddressGroup dl dt {
	padding: 0 0 0 7px;
	margin: 5px 0;
}

#objectServices dl dd,
#objectSchedules dl dd,
#objectUrlFilters dl dd, /* 20110609 ktakenaka@PROSITE add */
#objectAddressGroup dl dd {
	margin-bottom: 10px;
	padding: 5px;
	clear: both;
}

#editName dl,
#addPolicy dl {
	width: 600px;
	padding: 20px;
	border: 1px solid F2F2F2;
}

#editName dt,
#objectAddress dt,
#addPolicy dt {
	float: left;
	clear: both;
	width: 150px;
	margin-right: 8px;
	padding: 2px 0 2px 15px;
	background: url(../img/bg_table.gif) repeat-x left bottom;
	margin-bottom: 8px;
	border-bottom: 2px solid #e5eff8;
	border-right: 2px solid #e5eff8;
	border-top: 2px solid #F4F6F8;
	border-left: 2px solid #F4F6F8;
}

#editName dd,
#objectAddress dd,
#addPolicy dd {
	float: left;
	width: 600px;
	padding: 2px 0;
	border: 0px solid #ccc;
	margin-bottom: 8px;
	/*background: #009999;*/
}


#commitCheck dl {
	padding: 20px;
	border: 1px solid F2F2F2;
}

#commitCheck dt {
	float: left;
	clear: both;
	width: 300px;
	margin-right: 8px;
	padding: 2px 0 2px 15px;
	background: url(../img/bg_table.gif) repeat-x left bottom;
	margin-bottom: 8px;
	border-bottom: 2px solid #e5eff8;
	border-right: 2px solid #e5eff8;
	border-top: 2px solid #F4F6F8;
	border-left: 2px solid #F4F6F8;
	display: block;
}

#commitCheck dd {
	float: left;
	width: 100px;
	padding: 2px 0;
	border: 0px solid #ccc;
	margin: 2px 0 10px 0;
	/*background: #009999;*/
}




#commitCheck {
	float: left;
	width: 95%;
	padding: 10px 0 20px 30px;
	border: 0px solid #ccc;
}

/*
#commitCheck dl {
	margin: 0 0 0 70px;
	width: 400px;
}

#commitCheck dt {
	clear: both;
	width: 300px;
	margin-right: 10px;
	margin-bottom: 1px;
	padding: 5px 0 5px 10px;
	float: left;
	border-bottom: 0px solid #ccc;
}

#commitCheck dd {
	width: 70px;
	margin-bottom: 1px;
	padding: 5px;
	float: left;
	border-bottom: 0px solid #CCCCCC;
}
*/
#container #content #check1 {
	width: 480px;
	background: #FFDEFF;
	float: left;
	padding: 10px;
	border: 1px solid #FF99FF;
	color: #333333;
	margin: 0 0 0 30px;
	_margin: 0 0 0 15px;
}

#container #content #commitCheck h4 {
	width: 180px;
	clear: both;
	padding-left: 8px;
	border-left: 4px solid #66a3d3;
	margin: 14px 0 0 0;
}

#container #content #applicationeditFilter {
	width: 820px;
	height: 180px;
	clear: both;
}

#container #content #applicationeditFilter #categoly {
	float: left;
	width: 210px;
	height: 180px;
	margin: 0 15px 0 0;
	background: url(../img/application_filter_bottom.gif) repeat-y left bottom;
}

#container #content #applicationeditFilter #categoly h4 {
/*#container #content #blockApplication #applicationeditFilter #categoly h4 {*/
	background: url(../img/application_category.gif) no-repeat left top;
	text-indent: -9999px;
	height: 30px;
	width: 210px;
	margin: 0 0 9px 0 ;
}

#container #content #applicationeditFilter #subcategory {
	float: left;
	width: 210px;
	height: 180px;
	margin: 0 15px 0 0;
	background: url(../img/application_filter_bottom.gif) repeat-y left bottom;
}

#container #content #applicationeditFilter #subcategory h4 {
	background: url(../img/application_subcategory.gif) no-repeat left top;
	text-indent: -9999px;
	height: 30px;
	width: 210px;
	margin: 0 0 9px 0 ;
}

#container #content #applicationeditFilter #technology {
	float: left;
	width: 210px;
	height: 180px;
	margin: 0 15px 0 0;
	background: url(../img/application_filter_bottom.gif) repeat-y left bottom;
}

#container #content #applicationeditFilter #technology h4 {
	background: url(../img/application_technology.gif) no-repeat left top;
	text-indent: -9999px;
	height: 30px;
	width: 210px;
	margin: 0 0 9px 0;
}

#container #content #applicationeditFilter #risk {
	float: left;
	width: 140px;
	height: 180px;
	margin: 0 0 0 0;
	background: url(../img/application_risk_bottom.gif) repeat-y left bottom;
}

#container #content #applicationeditFilter #risk h4 {
	background: url(../img/application_risk.gif) no-repeat left top;
	text-indent: -9999px;
	height: 30px;
	width: 140px;
	margin: 0 0 9px 0;
}

#container #content #applicationeditFilter #categolyList,
#container #content #applicationeditFilter #subcategoryList,
#container #content #applicationeditFilter #technologyList {
	height: 140px;
	width: 210px;
	overflow: auto;
}

#container #content #applicationeditFilter #riskList {
	height: 140px;
	width: 140px;
	overflow: auto;
}

#container #content #applicationeditFilter #categolyList ul li,
#container #content #applicationeditFilter #subcategoryList ul li,
#container #content #applicationeditFilter #technologyList ul li,
#container #content #applicationeditFilter #riskList ul li {
	margin: 3px 0 3px 10px;
}


#container #content #filterdResult {
	width: 95%;
	float: left;
}

#container #content #blockApplication #result {
	width: 840px;
	margin: 10px 0 0 0;
}

#container #content #blockApplication #filterReset {
	float: right;
}

#container #sidebarCustomer .section select {
	margin-left: 5px;
}

/*===Login画面=====================================================================*/
#wrapper {
	/*	background: url(../img/bg_wrapper.gif) repeat-y 0px 0px;*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 530px;
	margin-top: -145px;
	margin-left: -265px;
	padding: 0;
	background: #FFF;
}

#wrapper #loginKddi,
#wrapper #loginCustomer {
	background: #CCC url(../img/login_customer_bottom.gif) no-repeat left bottom;
	height: 290px;
	width: 530px;
}

#wrapper #loginKddi h1 {
	background: url(../img/login_kddi_top.gif) no-repeat left top;
	height: 115px;
	width: 530px;
	text-indent: -9999px;
	margin-bottom: 20px;
}

#wrapper #loginCustomer h1 {
	background: url(../img/login_customer_top.gif) no-repeat left top;
	height: 78px;
	width: 530px;
	text-indent: -9999px;
	margin-bottom: 20px;
}

#wrapper #loginKddi dl,
#wrapper #loginCustomer dl {
	margin: 20px 0 0 0;
	padding: 0 0 0 50px;
}

#wrapper #loginKddi dl dt,
#wrapper #loginCustomer dl dt {
	float: left;
	clear: both;
	width: 120px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 0 5px 10px;
	border: 0px solid #ccc;
	border-left: 5px solid #000066;
	/*background: #996600;*/
}

#wrapper #loginKddi dl dd,
#wrapper #loginCustomer dl dd {
	float: left;
	width: 200px;
	margin-bottom: 10px;
	padding: 5px;
	/*background: #CC3366;*/
}

#wrapper #loginKddi #login_form dt,
#wrapper #loginCustomer #login_form dt {
	font-weight: bold;
}

/*===Login画面 ここまで=====================================================================*/

#container #content #objectApplicationgroup #result {
	clear: both;
	float: left;
}

#container #content #blockOshirase #oshiraseEdit {
/*	padding: 15px;
	border: 1px solid #ccc;
	width: 80%;
*/	margin: 0 0 0 20px;
}

#container #content #blockOshirase .oshiraseNow {
	padding: 15px;
	border: 1px solid #ccc;
	width: 80%;
	margin: 0 0 0 20px;

}

#container #content #information p,
#container #content #information pre {
	width: 80%;
	background: #F7F7F7;
	/*margin: 0 auto;*/
	line-height: 1.5;
	font-size: 110%;
	padding: 20px;
	border: 6px solid #e5eff8;
	color: #333333;
}

#container #content #manual li {
	margin-right: 50px;
	margin-left: 50px;
}

#container #content #information {
	border: 0px solid #CCC;
	background: #FFFFFF;
	position: relative;
}

#container #content #available ul {
	margin-left: 20px;
	margin-top: 15px;
}

#container #content #available {
	border: 0px solid #CCC;
	padding: 15px 0;
	margin: 0 0 0 30px;
}

#editSourcezone ul#button {
	margin: 0 0 0 100px;
}

#additionalAddress {
	margin: 0 0 0 30px;
	padding: 15px 0;
}

#filterResult {
	overflow: auto;
	width: 840px;
	/*	background: #996666;
*/	margin: 20px 0 0;
	_height: 400px;
	max-height: 400px;
}

#container #content #commit #commitCheck li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#container #content #commit #commitCheck li {
	padding-bottom: 4px;
	display: block;
	border-bottom: 2px dotted #999999;
	display: inline-table;
	width: 500px;
}

#container #content #manual {
	margin: 40px 0 0 0;
}

#container #content #manual ul {
	margin-top: 30px;
}


#container #content #blockApplication #box1 {
	/*	background: #66CC00;
*/	width: 820px;
	text-align: right;
	margin: 0;
	padding: 0;
	position: relative;
}


#container #content #blockApplication #box2 {
/*	background: #993366;
*/	width: 820px;
	clear: both;
	margin: 10px 0;
	padding: 0;
}

#container #content #blockApplication #box2 p {
	margin-bottom: 5px;
}

#container #content #blockApplication #box2 #search {
	float: left;
}

#container #content #blockLog #operationBox1 {
	width: 100%;
}

#container #content #blockLog #operationBox2 {
	width: 100%;
	text-indent: 40px;
	padding: 2px 0 0 0;
}

#container #footer address {
	text-indent: -9999px;
}

#container #content #editSrcaddress #additionalAddress textarea,
#container #content #editSrcaddress #additionalAddress input,
#container #content #editDstaddress #additionalAddress textarea,
#container #content #editDstaddress #additionalAddress input {
	margin: 0px 0px 10px;
}

#container #content #blockReport #summary {
	margin: 0px 0px 8px 35px;
}

#container #content #blockReport select {
	float: left;
}

#container #content #blockPolicy table a {
	display: block;
	padding: .5em 0.6em;
	height: 1%; /* for IE6 */

}

#objectApplicationgroup table a {
	display: block;
	padding: .5em 0.6em;
	height: 1%; /* for IE6 */
}

#objectApplicationgroup table td {
	padding: 0;
}

table a {
	display: block;
	padding: .5em 0.6em;
	height: 1%; /* for IE6 */
}

table td {
	padding: 0;
}

/*#container #content #oshirase #oshiraseEdit textarea {
	width: 680px;
}*/

#container #content #blockApplication #box1 #filters {

}

#container #content #blockApplication #box1 #groups {
	font-size: 1.2em;
}

#container #content #blockApplication #box1 #filters {
	margin: 0px 0px 0.5em;
	font-size: 1.2em;
}

#container #content #blockApplication #result p {
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 5px;
	font: bold;
}

#container #content #editDstzone #available input {
	margin: 0 3px;
}

#container #content #blockApplication #body2 caption {
	font-size: 1.2em;
	margin: 0 0 5px 0;
}

#container #content #objectApplicationfilters #filterReset {
	margin: 3px 0 5px 0;
	width: 820px;
	text-align: right;
}

#wrapper #loginKddi #button {
	width: 90%;
	background: #ccc;
	margin: 20px 0 0 40px;
}

#container #content #blockCAdddel p {
	margin: 10px 0px;
}

#container #content #blockOshirase h4 {
	font-size: 1.2em;
	margin: 20px 0px 10px 0;
}

#container #content #blockOshirase .oshiraseNow,
#container #content #blockOshirase #oshiraseNow {
	padding: 20px;
	border: 6px solid #e5eff8;
	line-height: 1.5;
	width: 80%;
	background: #F7F7F7;
	/*margin: 0 auto 20px;*/
	margin: 0 0 30px 20px;
}
