@charset "UTF-8";

/* 表の行選択時の色指定 */
table tr.selected,
table tr.mouseover {
	background: #ffeeee;
}

#wrapper #kddiPassChange,
#wrapper #customerPassChange {
	background: #CCC url(../img/login_customer_bottom.gif) no-repeat left bottom;
	height: 320px;
	width: 530px;
}

#wrapper #kddiPassChange h1 {
	background: url(../img/login_kddi_top.gif) no-repeat left top;
	height: 115px;
	width: 530px;
	text-indent: -9999px;
	margin-bottom: 20px;
}

#wrapper #customerPassChange h1 {
	background: url(../img/login_customer_top.gif) no-repeat left top;
	height: 78px;
	width: 530px;
	text-indent: -9999px;
	margin-bottom: 20px;
}

#wrapper #kddiPassChange dl,
#wrapper #customerPassChange dl {
	margin: 10px 0 0 0;
	float: left;
	width: 420px;
	padding: 0 0 0 50px;
	border: 0px;
}

#wrapper #kddiPassChange dl dt,
#wrapper #customerPassChange dl dt {
	float: left;
	clear: both;
	width: 160px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 0 5px 10px;
	border: 0px solid #ccc;
	border-left: 5px solid #000066;
	text-align: left
}

#wrapper #kddiPassChange dl dd,
#wrapper #customerPassChange dl dd {
	float: left;
	width: 200px;
	margin-bottom: 10px;
	text-align: left
}

#wrapper #kddiPassChange #login_form dt,
#wrapper #customerPassChange #login_form dt {
	font-weight: bold;
}

#wrapper #kddiPassChange ul#button,
#wrapper #customerPassChange ul#button {
	width: 90%;
	margin: 0 0 0 0;
	clear: both;
	padding: 10px 0;
}
#wrapper #kddiPassChange ul#button li,
#wrapper #customerPassChange ul#button li {
	display: inline;
	margin: 0 40px 0 0;
}





#wrapper #exception {
	background: #CCC url(../img/login_customer_bottom.gif) no-repeat left bottom;
	height: 220px;
	width: 530px;
}

#wrapper #exception h1 {
	background: url(../img/login_customer_top.gif) no-repeat left top;
	height: 78px;
	width: 530px;
	text-indent: -9999px;
	margin-bottom: 40px;
}

#wrapper #exception h2 {
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
}

#progressDialog {
	visibility: hidden;
	z-index: 999;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 240px;
	height: 48px;
	margin-left: -120px;
	margin-top: -24px;
	padding: 0px;
	background: #FFF;
}

#progressDialog #loading {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 54px;
	text-align: left;
}

#processingDialog {
	visibility: hidden;
	z-index: 999;
	position: absolute;
	top: 30%;
	left: 50%;
	width: 400px;
	height: 80px;
	margin-left: -120px;
	margin-top: -24px;
	padding: 0px;
	background: #FFF;
}

#processingDialog #loading {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/processing.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 54px;
	text-align: left;
}

#loadingDialog {
	visibility: hidden;
	z-index: 998;
	position: absolute;
	border-width: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	margin: 0px;
	padding: 0px;
	/* background-color: transparent; */
	background-color: #ffffff;
	filter:Alpha(opacity=10);
	-moz-opacity:0.10;
	opacity:0.10;
}

#loadingIcon {
	visibility: hidden;
	z-index: 999;
	display: block;
	width: 170px;
	height: 48px;
	position: absolute;
	left: 50%;
	top: 260px;
	margin-left: -120px;
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #ffffff;
	font-size: 30px;
	margin: 0px;
	padding: 10px 0px 0px 54px;
	text-align: left;
}