@charset "UTF-8";
/* CSS Document */

#container #sidebarKddi {
	float: left;
	width: 210px;
	margin-right: -100%;
	z-index: 10;
	background: #996600;
	position: relative;
}

#container #sidebarKddi #customerList {
	background: url(../img/button_customer_list.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

/* m.narikawa */
#container #sidebarKddi #customerList a {
	background: url(../img/button_customer_list.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #customerList a:hover {
	background: url(../img/button_customer_list.jpg) no-repeat 0px -30px;
}

#container #sidebarKddi #customerPassChange {
	background: url(../img/button_customer_pass_change.jpg) no-repeat 0px -60px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

/*#container #sidebarKddi #nolink #customerPassChange {
	background: url(../img/button_customer_pass_change.jpg) no-repeat 0px -60px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}
*/#container #sidebarKddi #customerPassChange a {
	background: url(../img/button_customer_pass_change.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}
#container #sidebarKddi #customerPassChange a:hover {
	background: url(../img/button_customer_pass_change.jpg) no-repeat 0px -30px;
}

#container #sidebarKddi #kddiPassChange {
	background: url(../img/button_kddi_pass_change.jpg) no-repeat 0px -60px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #kddiPassChange a {
	background: url(../img/button_kddi_pass_change.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #kddiPassChange a:hover {
	background: url(../img/button_kddi_pass_change.jpg) no-repeat 0px -30px;
}

#container #sidebarKddi #accountlock {
	background: url(../img/button_accountlock.jpg) no-repeat 0px -60px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}
#container #sidebarKddi #accountlock a {
	background: url(../img/button_accountlock.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #accountlock a:hover {
	background: url(../img/button_accountlock.jpg) no-repeat 0px -30px;
}

#container #sidebarKddi #customerAdddel {
	background: url(../img/button_customer_adddel.jpg) no-repeat 0px -60px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}
#container #sidebarKddi #customerAdddel a {
	background: url(../img/button_customer_adddel.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #customerAdddel a:hover {
	background: url(../img/button_customer_adddel.jpg) no-repeat 0px -30px;
}

#container #sidebarKddi #oshirase {
	background: url(../img/button_oshirase.jpg) no-repeat 0px -60px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #oshirase a {
	background: url(../img/button_oshirase.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #oshirase a:hover {
	background: url(../img/button_oshirase.jpg) no-repeat 0px -30px;
}

#container #sidebarKddi #logstorage {
	background: url(../img/button_logstorage.jpg) no-repeat 0px -60px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #logstorage a {
	background: url(../img/button_logstorage.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 30px;
	width: 210px;
}

#container #sidebarKddi #logstorage a:hover {
	background: url(../img/button_logstorage.jpg) no-repeat 0px -30px;
}



#container #sidebarKddi {
	float: left;
	width: 210px;
	background: url(../img/bg_sidebar_kddi.jpg) repeat-x 0px 0px;
}







#container #sidebarKddi .section {
	background: url(../img/sidebar_bottom.gif) no-repeat left bottom;
	margin: 0 0 10px 5px;
	padding: 0 0 5px;
	width: 200px;
	display: block;
}

#container #sidebarKddi #fw {
	background: url(../img/sidebar_top_fw.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

#container #sidebarKddi #logmonitoring {
	background: url(../img/sidebar_top_logmonitoring.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

/* 20110620 ktakenaka@PROSITE add start */
#container #sidebarKddi #logdownload {
	background: url(../img/sidebar_top_logdownload.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}
/* 20110620 ktakenaka@PROSITE add end */

#container #sidebarKddi #report {
	background: url(../img/sidebar_top_report.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

#container #sidebarKddi #password {
	background: url(../img/sidebar_top_password.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

#container #sidebarKddi #configdownload {
	background: url(../img/sidebar_top_config_download.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

/* 20130901 kkato@PROSITE add start */
#container #sidebarKddi #webfilterversion {
	background: url(../img/sidebar_top_webfilter_version.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}
/* 20130901 kkato@PROSITE add end */

#container #sidebarKddi .section ul {
	margin: 0px 0px 0px 5px;
}

#container #sidebarKddi #home a{
	background: url(../img/button_home.jpg) no-repeat 0 0;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	height: 26px;
	width: 190px;
	text-indent: -9999px;
	display: block;
	outline: none;
}

#container #sidebarKddi #home a:hover {
	background: url(../img/button_home.jpg) no-repeat 0 -26px;
}

#container #sidebarKddi .section #policy a {
	text-indent: -9999px;
	background: url(../img/button_policy.jpg) no-repeat 0px 0px;
	height: 26px;
	width: 190px;
	display: block;
}

#container #sidebarKddi .section #policy a:hover {
	background: url(../img/button_policy.jpg) no-repeat 0px -26px;
}

#container #sidebarKddi .section #object {
	height: 56px;
	width: 190px;
	background: url(../img/fw_object.gif) no-repeat left top;
}

#container #sidebarKddi .section #object p {
	text-indent: -9999px;
}

#container #sidebarKddi .section #object select {
	margin-top: 15px;
	margin-left: 5px;
}


#container #sidebarKddi .section #trafficLog a {
	background: url(../img/button_fw_log.jpg) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarKddi .section #trafficLog a:hover {
	background: url(../img/button_fw_log.jpg) no-repeat 0 -26px;
}

#container #sidebarKddi .section #ipsidsLog a {
	background: url(../img/button_ipsids_log.jpg) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarKddi .section #ipsidsLog a:hover {
	background: url(../img/button_ipsids_log.jpg) no-repeat 0 -26px;
}

#container #sidebarKddi .section #passwordMgt a {
	background: url(../img/button_password.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarKddi .section #passwordMgt a:hover {
	background: url(../img/button_password.jpg) no-repeat 0px -26px;
}

#container #sidebarKddi .section #configDl a {
	background: url(../img/button_config_download.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarKddi .section #configDl a:hover {
	background: url(../img/button_config_download.jpg) no-repeat 0px -26px;
}

#container #sidebarKddi .section #fw,
#container #sidebarKddi .section #logmonitoring,
#container #sidebarKddi .section #logdownload, /* 20110621 ktakenaka@PROSITE add */
#container #sidebarKddi .section #report,
#container #sidebarKddi .section #password {
	margin-bottom: 10px;
}

#container #sidebarKddi .section #commit a {
	background: url(../img/button_commit.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarKddi .section #commit a:hover {
	background: url(../img/button_commit.jpg) no-repeat 0px -26px;
}

#container #sidebarKddi .section #commitStatus {
	padding: 0 0 0 31px;
}

#container #sidebarKddi .section #commitStatus a {
	background: url(../img/button_commit_status.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 20px;
	width: 160px;
}

#container #sidebarKddi .section #commitStatus a:hover {
	background: url(../img/button_commit_status.jpg) no-repeat 0px -20px;
}

#container #sidebarKddi .section #rollback a {
	background: url(../img/button_rollback.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarKddi .section #rollback a:hover {
	background: url(../img/button_rollback.jpg) no-repeat 0px -26px;
}

/* m.narikawa */
#container #sidebarKddi #logout a {
	background: url(../img/button_logout.gif) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 18px;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 10px;
}

/* m.narikawa */
#container #sidebarKddi #logout a:hover {
	background: url(../img/button_logout.gif) no-repeat 0 -18px;

}

#container #sidebarKddi #logoutCustomer a {
	background: url(../img/button_logout_customermode.gif) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

#container #sidebarKddi #logoutCustomer a:hover {
	background: url(../img/button_logout_customermode.gif) no-repeat 0 -26px;

}

#container #sidebarKddi #login {
	font-size: 120%;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#container #sidebarKddi #loginCustomer {
	font-size: 120%;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
}


#container #sidebarKddi #nolink {
	border: 0px solid #999999;
	background: #CCCCFF;
	float: left;
	display: block;
	clear: both;
}


#container #sidebarKddi ul li {
	margin: 0px;
	padding: 0px;
}

#container #sidebarKddi .section select {
	margin-left: 5px;
}

#container #sidebarKddi .section li {
	margin: 0px 0px 8px;
}

