@charset "UTF-8";
/* CSS Document */

#container #sidebarCustomer {
	float: left;
	width: 210px;
	background: url(../img/bg_sidebar_kddi.jpg) repeat-y 0px 0px;
	margin-right: -100%;
	z-index: 10;
	position: relative;
}

#container #sidebarCustomer .section {
	background: url(../img/sidebar_bottom.gif) no-repeat left bottom;
	margin: 0 0 10px 5px;
	padding: 0 0 5px 0;
	width: 200px;
}

#container #sidebarCustomer #fw {
	background: url(../img/sidebar_top_fw.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

#container #sidebarCustomer #logmonitoring {
	background: url(../img/sidebar_top_logmonitoring.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

/* 20110620 ktakenaka@PROSITE add start */
#container #sidebarCustomer #logdownload {
	background: url(../img/sidebar_top_logdownload.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}
/* 20110620 ktakenaka@PROSITE add end */

#container #sidebarCustomer #report {
	background: url(../img/sidebar_top_report.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

#container #sidebarCustomer #password {
	background: url(../img/sidebar_top_password.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

#container #sidebarCustomer #configdownload {
	background: url(../img/sidebar_top_config_download.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}

/* 20130901 kkato@PROSITE add start */
#container #sidebarCustomer #webfilterversion {
	background: url(../img/sidebar_top_webfilter_version.gif) no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 200px;
	text-indent: -9999px;
}
/* 20130901 kkato@PROSITE add end */

#container #sidebarCustomer .section ul {
	margin: 0px 0px 0px 5px;
}

#container #sidebarCustomer h3#home a{
	background: url(../img/button_home.jpg) no-repeat 0 0;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	height: 26px;
	width: 190px;
	text-indent: -9999px;
	display: block;
	outline: none;
}

#container #sidebarCustomer #home a:hover {
	background: url(../img/button_home.jpg) no-repeat 0 -26px;
}

#container #sidebarCustomer .section #policy a {
	text-indent: -9999px;
	background: url(../img/button_policy.jpg) no-repeat 0px 0px;
	height: 26px;
	width: 190px;
	display: block;
}

#container #sidebarCustomer .section #policy a:hover {
	background: url(../img/button_policy.jpg) no-repeat 0px -26px;
}

#container #sidebarCustomer .section #object {
	height: 56px;
	width: 190px;
	background: url(../img/fw_object.gif) no-repeat left top;
}

#container #sidebarCustomer .section #object p {
	text-indent: -9999px;
}

#container #sidebarCustomer .section #object select {
	margin-top: 15px;
	margin-right: 5px;
}


#container #sidebarCustomer .section #trafficLog a {
	background: url(../img/button_fw_log.jpg) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarCustomer .section #trafficLog a:hover {
	background: url(../img/button_fw_log.jpg) no-repeat 0 -26px;
}

#container #sidebarCustomer .section #ipsidsLog a {
	background: url(../img/button_ipsids_log.jpg) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarCustomer .section #ipsidsLog a:hover {
	background: url(../img/button_ipsids_log.jpg) no-repeat 0 -26px;
}

#container #sidebarCustomer .section #passwordMgt a {
	background: url(../img/button_password.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarCustomer .section #passwordMgt a:hover {
	background: url(../img/button_password.jpg) no-repeat 0px -26px;
}

#container #sidebarCustomer .section #configDl a {
	background: url(../img/button_config_download.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarCustomer .section #configDl a:hover {
	background: url(../img/button_config_download.jpg) no-repeat 0px -26px;
}

#container #sidebarCustomer .section #fw,
#container #sidebarCustomer .section #logmonitoring,
#container #sidebarCustomer .section #logdownload, /* 20110621 ktakenaka@PROSITE add */
#container #sidebarCustomer .section #report,
#container #sidebarCustomer .section #password {
	margin-bottom: 10px;
}

#container #sidebarCustomer .section #commit a {
	background: url(../img/button_commit.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarCustomer .section #commit a:hover {
	background: url(../img/button_commit.jpg) no-repeat 0px -26px;
}

#container #sidebarCustomer .section #commitStatus {
	padding: 0 0 0 31px;
}

#container #sidebarCustomer .section #commitStatus a {
	background: url(../img/button_commit_status.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 20px;
	width: 160px;
}

#container #sidebarCustomer .section #commitStatus a:hover {
	background: url(../img/button_commit_status.jpg) no-repeat 0px -20px;
}

#container #sidebarCustomer .section #rollback a {
	background: url(../img/button_rollback.jpg) no-repeat 0px 0px;
	text-indent: -9999px;
	display: block;
	height: 26px;
	width: 190px;
}

#container #sidebarCustomer .section #rollback a:hover {
	background: url(../img/button_rollback.jpg) no-repeat 0px -26px;
}

#container #sidebarCustomer #logout a {
	background: url(../img/button_logout.gif) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	height: 18px;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 10px;
}

#container #sidebarCustomer #logout a:hover {
	background: url(../img/button_logout.gif) no-repeat 0 -18px;

}

#container #sidebarCustomer #login {
	font-size: 120%;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#container #sidebarCustomer .section li {
	margin: 0px 0px 8px;
}
